[Desktop Entry]
Name=Gnostr
Comment=Native Nostr Client
Exec=gnostr
Icon=me.velocitynet.Gnostr
Terminal=false
Type=Application
Categories=Network;Chat;GTK;
StartupNotify=true
StartupWMClass=me.velocitynet.Gnostr
X-Purism-FormFactor=Workstation;Mobile;