[Desktop Entry]
Name=Gnostr
Comment=A native Nostr client for GNOME
Exec=gnostr
Icon=me.velocitynet.Gnostr
Terminal=false
Type=Application
Categories=Network;Chat;GTK;
StartupNotify=true
