[Desktop Entry]
Name=Gnostr
Comment=Native Nostr Client
Exec=gnostr
Icon=tech.livingonlinux.gnostr
Terminal=false
Type=Application
Categories=Network;Chat;GTK;
StartupNotify=true
StartupWMClass=tech.livingonlinux.gnostr
X-Purism-FormFactor=Workstation;Mobile;